<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>KantineApp bilder</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
       <h1> Min kantineapp</h1>
       <nav class="nav-menu">
           <a href="/" class="nav-link ">Meny</a>
           <a href="/info" class="nav-link">Bilder</a>
       </nav>
    </header>

   
    <p class="veiledning">Veiledning for bruk av kantineappen.</p>

    <h3 class="Overskrift1"> Hvordan bruke kantineappen?</h1>

    <p class="p1"> Helt overst i menyen har du knapper for å navigere i appen</p>

    <p class="p1">Med å trykke på en de forskjellige knappene kan du hoppe fra hovedsiden, til bilder og veiledning den du er på nå</p>

    <p class="p1">På startsiden ser du de forskjellie menyene, de er ikke klikkbare.</p>

    <p class="p1"> Du har en knapp helt nederst i hovedsiden der du kan komme til veiledningen</p>


<footer class="footer">
    Dette er min kantineapp, laget av Patryk
</footer>
 
</body>
</html>
